* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url("../IMG/Vector+1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1a73e8;
    background-position: right top;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

